<div class="product-search-container scroll-y">
    <div class="form-header-content">
        <h1>Búsqueda de Productos</h1>
        <p>Encuentre productos específicos por nombre o categoría</p>
    </div>

    <div class="search-form-container">
        <div class="form-grid">
            <div class="form-field full-width">
                <label for="productSearch">Buscar Producto</label>
                <div class="search-input">
                    <span class="search-icon"></span>
                    <input type="text" id="productSearch" placeholder="Ej: Manzanas Orgánicas, Leche, Pan Integral..." [(ngModel)]="searchTerm">
                </div>
            </div>

            <div class="form-field">
                <label for="searchCategory">Categoría</label>
                <select id="searchCategory">
                    <option value="" selected>Todas las categorías</option>
                    <option value="frutas">Frutas</option>
                    <option value="verduras">Verduras</option>
                    <option value="lacteos">Lácteos</option>
                    <option value="carnes">Carnes</option>
                    <option value="panaderia">Panadería</option>
                    <option value="bebidas">Bebidas</option>
                    <option value="congelados">Congelados</option>
                    <option value="enlatados">Enlatados</option>
                    <option value="limpieza">Limpieza</option>
                    <option value="otros">Otros</option>
                </select>
            </div>

            <div class="form-field">
                <label for="priceRange">Rango de Precio</label>
                <div class="price-range-container">
                    <div class="input-group">
                        <span class="input-group-prefix">$</span>
                        <input type="number" id="minPrice" placeholder="Mín" min="0" step="0.01">
                    </div>
                    <span class="range-separator">a</span>
                    <div class="input-group">
                        <span class="input-group-prefix">$</span>
                        <input type="number" id="maxPrice" placeholder="Máx" min="0" step="0.01">
                    </div>
                </div>
            </div>

            <div class="form-field full-width">
                <div class="form-buttons search-buttons">
                    <button type="button" class="btn-app btn-app-secondary me-1">Limpiar</button>
                    <button type="button" class="btn-app btn-app-primary" (click)="searchProducts()">Buscar Productos</button>
                </div>
            </div>
        </div>
    </div>

    <div class="search-results">
        <div class="search-status">
            <p>Se encontraron <span class="result-count">{{itemsFounded}}</span> productos que coinciden con tu búsqueda</p>
        </div>

        <div class="results-grid">
            @for (product of filteredProducts; track $index) {

            <div class="product-card">
                <div class="product-image">
                    <div class="image-placeholder"></div>
                </div>
                <div class="product-details">
                    <h3>{{product.name}}</h3>
                    <p class="product-category">{{product.category}}</p>
                    <p class="product-stock">Stock: {{product.initialStock}} Kilos</p>
                    <p class="product-price">${{product.sellingPrice}}</p>
                </div>
                <div class="product-actions">
                    <button class="action-button view-button"></button>
                    <button class="action-button edit-button"></button>
                    <button class="action-button add-button"></button>
                </div>
            </div>
            }
        </div>
        @if (filteredProducts.length > 0) {
            <div class="pagination">
                <button class="pagination-button prev-button" [disabled]="currentPage === 1" (click)="previousPage()"></button>
                <div class="pagination-numbers">
                    @for (page of visiblePages; track $index) {
                    <button class="pagination-number" [class.active]="page === currentPage" (click)="goToPage(page)">{{page}}</button>
                    }
                    @if (totalPages > visiblePages[visiblePages.length - 1]) {
                    <span class="pagination-ellipsis">...</span>
                    }
                    @if (totalPages > visiblePages[visiblePages.length - 1]) {
                    <button class="pagination-number" (click)="goToPage(totalPages)">
                        {{totalPages}}</button>
                    }
                    <!-- <button class="pagination-number">2</button>
                    <button class="pagination-number">3</button>
                    <span class="pagination-ellipsis">...</span>
                    <button class="pagination-number">10</button> -->
                </div>
                <button class="pagination-button next-button" [disabled]="currentPage === totalPages"
                    (click)="nextPage()"></button>
            </div>
        
            <div class="products-summary">
                <p class="mb-1 summary-highlight">Mostrando <span class="summary-highlight">{{(currentPage - 1) * itemsPerPage}}</span> de <span
                        class="summary-highlight">{{Math.min(currentPage * itemsPerPage, totalItems)}}</span> productos</p>
                <div class="add-product-button">
                    <button class="btn-app btn-app-primary">Añadir Producto</button>
                </div>
            </div>
        }

        <div class="search-tip notice">
            Puede refinar su búsqueda utilizando palabras clave específicas, seleccionando una categoría o estableciendo
            un rango de precios.
        </div>
    </div>