.header {
    background-color: var(--header-bg);
    padding: 20px;
    border-bottom: 1px solid #e2e8f0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    height: 10vh;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-button);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    font-weight: bold;
}

.user-name {
    font-weight: 600;
    color: var(--titles-color);
}