<div class="main-content">
    <!-- Header para información del usuario -->
    <app-header></app-header>
    
    <!-- Contenido principal -->
    <div class="content">
        <!-- <h2 style="color: var(--titles-color);">Bienvenido a la aplicación</h2>
        <p style="margin-top: 15px; color: var(--titles-color);">
            Este es el contenido principal de la aplicación. Aquí puedes agregar toda la información que necesites mostrar.
        </p> -->
        <router-outlet></router-outlet>
    </div>
</div>
