<div class="sidebar">
    <div class="app-title">
        <span class="app-icon"></span>
        StockWise
    </div>
    
    <nav class="nav">
        <div class="nav-title">Principal</div>
        <ul class="nav-items">
            <li class="nav-item">
                <a href="#" class="nav-link active">
                    <span class="icon home-icon"></span>
                    Inicio
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="icon dashboard-icon"></span>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="icon settings-icon"></span>
                    Configuración
                </a>
            </li>
        </ul>
    </nav>
</div>
