.error-message {
    color: red; /* Texto en rojo */
    font-size: 0.9rem; /* Tamaño de fuente más pequeño */
    margin-top: 0.2rem; /* Margen superior pequeño */
  }

  .warn-message {
    color: orange; /* Texto en rojo */
    font-size: 0.9rem; /* Tamaño de fuente más pequeño */
    margin-top: 0.2rem; /* Margen superior pequeño */
  }

  .success-message {
    color: green; /* Texto en rojo */
    font-size: 0.9rem; /* Tamaño de fuente más pequeño */
    margin-top: 0.2rem; /* Margen superior pequeño */
  }