<div class="manage-user-container">
    <div class="manage-user-header">
        <h1>Gestión de Usuario</h1>
        <p>Ingrese los datos para recuperar su contraseña</p>
    </div>

    <form [formGroup]="recoveryPasswordForm">

        <div class="form-group mb-1">

            <label for="username">Usuario</label>
            <input type="text" id="username" formControlName="username" placeholder="Introduce tu usuario" required>
            @if (recoveryPasswordForm.get('username')?.invalid && (recoveryPasswordForm.get('username')?.dirty ||
            recoveryPasswordForm.get('username')?.touched)) {
            <div *ngIf="recoveryPasswordForm.get('username')?.errors as errors">
                @if (errors['zodError']) {
                <app-label-type typeMessage="error">
                    {{ errors['zodError'].message}}
                </app-label-type>
                }
            </div>
            }
        </div>

        <div class="form-group mt-1">
            <label for="idUser">ID de usuario</label>
            <input type="text" id="idUser" formControlName="idUser" placeholder="Introduce tu ID de usuario" required>
            @if (recoveryPasswordForm.get('idUser')?.invalid && (recoveryPasswordForm.get('idUser')?.dirty ||
            recoveryPasswordForm.get('idUser')?.touched)) {
            <div *ngIf="recoveryPasswordForm.get('idUser')?.errors as errors">

                @if (errors['zodError']) {
                <app-label-type typeMessage="error">
                    {{ errors['zodError'].message}}
                </app-label-type>
                }
            </div>
            }
        </div>

        @if (getShowActionValidateUser()) {
        <div class="container-button-validate">
            <button type="submit" class="btn btn-primary" (click)="validateUser()"
                [disabled]="validatedUserButton">Validar usuario</button>
        </div>
        }

        @if (getUserValidated()) {
        <div class="ng-trigger mt-1" [class.fade-in-animation]="securityCodeVisibility === 'visible'"
            [class.fade-out-animation]="securityCodeVisibility === 'hidden'"
            [class.hidden-state]="securityCodeVisibility === 'hidden'">
            <div class="form-group">
                <label for="securityCode">Código de Seguridad</label>
                <input type="text" id="securityCode" formControlName="securityCode"
                    placeholder="Se le ha enviado un código de seguridad, coloquelo acá" required>
            </div>
            <div class="container-button-validate">
                <button type="submit" class="btn btn-primary" (click)="validateCodeSecurity()">Validar código</button>
            </div>
        </div>
        }

        @if (getCodeValidated()) {
        <div class="ng-trigger" [class.fade-in-animation]="securityCodeVisibility === 'visible'"
            [class.fade-out-animation]="securityCodeVisibility === 'hidden'"
            [class.hidden-state]="securityCodeVisibility === 'hidden'">
            <div class="form-group mt-1">
                <label for="securityCode">Contraseña</label>
                <input type="password" id="password" formControlName="password" placeholder="Contraseña" required>
                @if (this.recoveryPasswordForm.get('password')?.invalid &&
                (this.recoveryPasswordForm.get('password')?.dirty ||
                this.recoveryPasswordForm.get('password')?.touched)) {
                <div *ngIf="this.recoveryPasswordForm.get('password')?.errors as errors">
                    @if(errors['zodError']){
                    <app-label-type typeMessage="error">
                        {{ errors['zodError'].message}}
                    </app-label-type>
                    }
                </div>
                }
            </div>

        </div>

        <div class="ng-trigger mt-1 mb-1" [class.fade-in-animation]="securityCodeVisibility === 'visible'"
            [class.fade-out-animation]="securityCodeVisibility === 'hidden'"
            [class.hidden-state]="securityCodeVisibility === 'hidden'">
            <div class="form-group">
                <label for="confirmPassword" class="required">Confirmar contraseña</label>
                <input type="password" id="confirmPassword" formControlName="confirmPassword" name="confirmPassword"
                    placeholder="Confirme la contraseña">
                @if (this.recoveryPasswordForm.get('confirmPassword')?.invalid &&
                (this.recoveryPasswordForm.get('confirmPassword')?.dirty ||
                this.recoveryPasswordForm.get('confirmPassword')?.touched)) {
                @if (this.recoveryPasswordForm.get('confirmPassword')?.hasError('passwordMismatch')) {
                <app-label-type typeMessage="error">
                    Las contraseñas no coinciden
                </app-label-type>
                }
                }
            </div>

        </div>

        <button type="submit" class="btn btn-primary" [disabled]="recoveryPasswordForm.invalid"
            (click)="getValueForm()">Recuperar Contraseña</button>
        }

    </form>
</div>