<div class="manage-user-container">
    <div class="manage-user-header">
        <h1>Gestión de Usuario</h1>
        <p>Ingrese los datos para continuar</p>
    </div>

    <form [formGroup]="recoveryPasswordForm">

        <div class="form-group">

            <label for="username">Usuario</label>
            <input type="text" id="username" formControlName="username" placeholder="Introduce tu usuario" required>
        </div>

        <div class="form-group">
            <label for="idUser">ID de usuario</label>
            <input type="text" id="idUser" formControlName="idUser" placeholder="Introduce tu ID de usuario" required>
        </div>

        <div class="form-group">
            <label for="securityCode">Código de Seguridad</label>
            <input type="text" id="securityCode" formControlName="securityCode" placeholder="Se le ha enviado un código de seguridad, coloquelo acá" required>
        </div>



    </form>
</div>
