<div class="manage-user-container">
    <div class="manage-user-header">
        <h1>Gestión de Usuario</h1>
        <p>Ingrese los datos para recuperar su contraseña</p>
    </div>

    <form [formGroup]="recoveryPasswordForm">


        @if(showActionValidateUser) {

        <div class="form-group mt-1 mb-2">
            <label for="idUser">ID de usuario</label>
            <input type="text" id="idUser" formControlName="idUser" placeholder="Introduce tu ID de usuario" required>
            @if (recoveryPasswordForm.get('idUser')?.invalid && (recoveryPasswordForm.get('idUser')?.dirty ||
            recoveryPasswordForm.get('idUser')?.touched)) {
            <div *ngIf="recoveryPasswordForm.get('idUser')?.errors as errors">

                @if (errors['zodError']) {
                <app-label-type typeMessage="error">
                    {{ errors['zodError'].message}}
                </app-label-type>
                }
            </div>
            }
        </div>
        }

        @if (showActionValidateUser) {
        <div class="container-button-validate">
            <button type="submit" class="btn btn-primary" (click)="validateUser()"
                [disabled]="validatedUserButton">Validar usuario</button>
        </div>
        }

        @if (codeValidated) {
        <div class="ng-trigger fade-in-animation">
            <div class="form-group mt-1">
                <label for="password">Contraseña</label>
                <input type="password" id="password" formControlName="password" placeholder="Contraseña" required>
                @if (this.recoveryPasswordForm.get('password')?.invalid &&
                (this.recoveryPasswordForm.get('password')?.dirty ||
                this.recoveryPasswordForm.get('password')?.touched)) {
                <div *ngIf="this.recoveryPasswordForm.get('password')?.errors as errors">
                    @if(errors['zodError']){
                    <app-label-type typeMessage="error">
                        {{ errors['zodError'].message}}
                    </app-label-type>
                    }
                </div>
                }
            </div>

        </div>

        <div class="ng-trigger fade-in-animation mt-1 mb-1">
            <div class="form-group">
                <label for="confirmPassword" class="required">Confirmar contraseña</label>
                <input type="password" id="confirmPassword" formControlName="confirmPassword" name="confirmPassword"
                    placeholder="Confirme la contraseña">
                @if (this.recoveryPasswordForm.get('confirmPassword')?.invalid &&
                (this.recoveryPasswordForm.get('confirmPassword')?.dirty ||
                this.recoveryPasswordForm.get('confirmPassword')?.touched)) {
                @if (this.recoveryPasswordForm.get('confirmPassword')?.hasError('passwordMismatch')) {
                <app-label-type typeMessage="error">
                    Las contraseñas no coinciden
                </app-label-type>
                }
                }
            </div>

        </div>

        <button type="submit" class="btn btn-primary" [disabled]="recoveryPasswordForm.invalid"
            (click)="getValueForm()">Recuperar Contraseña</button>
        }

    </form>
</div>